<a href="https://colab.research.google.com/github/kserdem/Istatistiksel_Analizler/blob/main/ANCOVA_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pingouin

In [ ]:
pip install pingouin
import numpy as np
import pandas as pd
from pingouin import ancova
from scipy.stats import levene
import pingouin as pg


* stress_level 10 üzerinden, recuperation ay bazında değerlendirilmiştir.

In [ ]:
ancova_data= pd.DataFrame({'drug' : np.repeat(['A','B','C'],10),
                           'stress_level': [5,6,4,7,2,2,4,7,9,6,3,5,3,8,4,6,2,2,8,3,1,5,7,3,4,5,6,2,8,4],
                           'recuperation': [12,15,18,5,7,9,24,7,13,16,11,17,10,9,16,7,18,28,15,17,26,13,14,16,19,11,22,16,17,12]})

In [ ]:
ancova_data.head(30)

   drug  stress_level  recuperation
0     A             5            12
1     A             6            15
2     A             4            18
3     A             7             5
4     A             2             7
5     A             2             9
6     A             4            24
7     A             7             7
8     A             9            13
9     A             6            16
10    B             3            11
11    B             5            17
12    B             3            10
13    B             8             9
14    B             4            16
15    B             6             7
16    B             2            18
17    B             2            28
18    B             8            15
19    B             3            17
20    C             1            26
21    C             5            13
22    C             7            14
23    C             3            16
24    C             4            19
25    C             5            11
26    C             6            22
27    C             2            16
28    C             8            17
29    C             4            12

#Varyans Homojenliğinin Kontrol Edilmesi

## Pingouin Kütüphanesi Kullanılarak

In [ ]:
?pg.homoscedasticity

* **pvalue=0.71 Grup varyansları homojendir.**

* burada method='bartlett' olarak argüman değiştirebiliriz. Default metodu olarak levene kullanılır.

In [ ]:
pg.homoscedasticity(data=ancova_data, dv='recuperation',  group='drug')

               W      pval  equal_var
levene  0.346369  0.710348       True

# Kovaryans Analizinin Yapılması

* **YORUM:** *p-unc düzeltilmiş p değeri anlamına gelmektedir. drug değişkeni için p-unc değer 0.37 > 0.05 olduğu için H0 hipotezi reddedilemez. İyileşmeyi etkileyen stres düzeyini hesapladıktan sonra bile ilaç gruplarının iyileşme süresine etkileri arasında farklılık yoktur.*

In [ ]:
ancova(data=ancova_data, dv='recuperation', covar='stress_level', between='drug')

         Source          SS  DF         F     p-unc       np2
0          drug   59.416732   2  1.019082  0.374895  0.072692
1  stress_level   76.445799   1  2.622310  0.117439  0.091618
2      Residual  757.954201  26       NaN       NaN       NaN